{% extends "api_module.html" %}


{% block inheritedMethods %}
    {% for parent in obj.getParentClasses() %}
        {% if obj.getInheritedMethods(parent)|length > 0 %}
            <br>

            <h3>Inherited from <a href="api_{{ parent.getName() }}.html">{{ parent.getName() }}</a></h3>

            <br>

            <table class="methodTable">
                {% for method in obj.getInheritedMethods(parent) %}
                    <tr>
                        <td class="methodTypeColumn typeString">{{ method.getReturnType() }}</td>
                        {% if method.getArguments()|length == 0 %}
                            <td class="methodNameColumn"><span class="methodName">{{ method.getName() }}</span>()</td>
                        {% elif method.getArguments()|length == 1 %}
                            <td class="methodNameColumn">
                                <span class="methodName">{{ method.getName() }}</span>({% for arg in method.getArguments() %}<span class="typeString">{{ arg.getType() }}</span> {{ arg.getName() }}{% if arg.getDefaultValue()|length > 0 %}={{ arg.getDefaultValue() }}{% endif %}{% endfor %})
                            </td>
                        {% else %}
                            <td class="methodNameColumn">
                                <span class="methodName">{{ method.getName() }}</span>({% for arg in method.getArguments() %}{% if loop.index > 1 %}, {% endif %}<span class="typeString">{{ arg.getType() }}</span> {{ arg.getName() }}{% if arg.getDefaultValue()|length > 0 %}={{ arg.getDefaultValue() }}{% endif %}{% endfor %})
                            </td>
                        {% endif %}
                        <td class="methodDescriptionColumn">{{ method.getDescription() }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block inheritedSignals %}
    {% for parent in obj.getParentClasses() %}
        {% if obj.getInheritedSignals(parent)|length > 0 %}
            <br>

            <h3>Inherited from <a href="api_{{ parent.getName() }}.html">{{ parent.getName() }}</a></h3>

            <br>

            <table class="methodTable">
                {% for signal in obj.getInheritedSignals(parent) %}
                    <tr>
                        <td class="methodTypeColumn typeString"></td>
                        {% if signal.getValues()|length == 0 %}
                            <td class="methodNameColumn"><span class="methodName">{{ signal.getName() }}</span>()</td>
                        {% elif signal.getValues()|length == 1 %}
                            <td class="methodNameColumn">
                                <span class="methodName">{{ signal.getName() }}</span>({% for val in signal.getValues() %}<span class="typeString">{{ val.getType() }}</span> {{ val.getName() }}{% endfor %})
                            </td>
                        {% else %}
                            <td class="methodNameColumn">
                                <span class="methodName">{{ signal.getName() }}</span>({% for val in signal.getValues() %}{% if loop.index > 1 %}, {% endif %}<span class="typeString">{{ val.getType() }}</span> {{ val.getName() }}{% endfor %})
                            </td>
                        {% endif %}
                        <td class="methodDescriptionColumn">{{ signal.getDescription() }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}



{% block inheritedClasses %}
    {% if obj.getChildClasses()|length > 0 %}
        <br>
        <h2>Inherited Classes</h2>
        <br>

        <ul class="classList">
            {% for class in obj.getChildClasses() %}
            <li>
                <a href="api_{{ class.getName() }}.html">{{ class.getName() }}</a>
            </li>
            {% endfor %}
        </ul>

        <br>
    {% endif %}
{% endblock %}
