{% extends "core.html" %}

{% block content %}
<h1>{{ obj.getName() }}</h1>
<br>
<p>
    {{ obj.getDescription() }}
</p>

<br>

<!-- Maybe add link to the github file-->

<h2>Methods</h2>

<br>

<table class="methodTable">
    {% for method in obj.getMethods() %}
        <tr>
            <td class="methodTypeColumn typeString">{{ method.getReturnType() }}</td>
            {% if method.getArguments()|length == 0 %}
                <td class="methodNameColumn"><span class="methodName">{{ method.getName() }}</span>()</td>
            {% elif method.getArguments()|length == 1 %}
                <td class="methodNameColumn">
                    <span class="methodName">{{ method.getName() }}</span>({% for arg in method.getArguments() %}<span class="typeString">{{ arg.getType() }}</span> {{ arg.getName() }}{% if arg.getDefaultValue()|length > 0 %}={{ arg.getDefaultValue() }}{% endif %}{% endfor %})
                </td>
            {% else %}
                <td class="methodNameColumn">
                    <span class="methodName">{{ method.getName() }}</span>({% for arg in method.getArguments() %}{% if loop.index > 1 %}, {% endif %}<span class="typeString">{{ arg.getType() }}</span> {{ arg.getName() }}{% if arg.getDefaultValue()|length > 0 %}={{ arg.getDefaultValue() }}{% endif %}{% endfor %})
                </td>
            {% endif %}
            <td class="methodDescriptionColumn">{{ method.getDescription() }}</td>
        </tr>
    {% endfor %}
</table>

<br>

<h2>Events</h2>

<br>

<p>
    Coming soon?!?
</p>

{% endblock %}